body{
    font-family: Arial,  sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #680d8b0c;
}  

h1{
    color: #b8da25;
    padding-bottom: 10px;
}

h2{
    color: #007bff;
}

.skill-list {
    background-color:e9ecef;
    padding: 15px;
    border-radius: 5px;
}

#projects {

 background-color: #23d3d3;
 border: 1px solid #ddd;
 padding: 20px;
 border-radius: 8px;
}

p {

    color: #666;
    font-size: 16px;
}

a {
color: #007bff;
text-decoration: none;
transition: color 0.3s ease;
}

a:hover {

    color: #0056b3;
    text-decoration: underline;
}
    

.skill-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.skill-list li {
    background-color: #d32323;
    color: aqua;
    margin: 11px;
    padding: 9px 18px;
    border-radius: 25px;
}
#projects li {
    transition: transform 1.2s;
    padding: 11px;
    margin-bottom: 15px;
    border-left: 6px solid #1aee36;
}
#projects li:hover {
    transform: translateX(15px);
    background-color: #e62b54;
} 